@use 'base/mixins' as m;
@use 'base/variables' as v;

.menu {
    margin-top: -1rem;
    padding: 10rem 0;
    background-color: v.$color4;

    &__container {
        position: relative;
    }

    &__introduccion {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6rem;
        flex-direction: column;
        gap: 2rem;

        @include m.tablet {
            flex-direction: row;
        }
    }

    &__titulo {
        font-size: 3.6rem;
        text-align: center;
        @include m.tablet {
            font-size: 4rem;
            text-align: left; 
        }
    }

    &__figure {
        position: relative;
        height: 5rem;
        width: 5rem;
        cursor: pointer;
    }

    &__items {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 0;
        right: -1rem;
        margin: 0;
        background-color: green;
        padding: 1.6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: Arial, Helvetica, sans-serif;
    }

}


