@use 'base/mixins' as m;
@use 'base/variables' as v;

.platos {
    position: relative;
    @include m.tablet {
        display: grid;
        @include m.grid(3,2rem);
    }
}

.plato {
    padding: 2rem;
    background-color: #FFF;
    margin-bottom: 2rem;
    border-radius: 1.4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    @include m.tablet {
        margin-bottom: 0;
    }
    &:last-of-type {
        margin-bottom: 0;
    }

    &__borrar {
        font-weight: 800;
        color: v.$color4;
        background-color: v.$color1;
        padding: .5rem 0;
        width: 4rem;
        margin: 0 auto;
        text-align: center;
        border-radius: .5rem;
    }

    &__nombre {
        font-weight: 600;
        font-size: 2rem;
        color: v.$color1;
        margin: 1rem 0 0 0;
    }

    &__precio {
        font-weight: 600;
        font-size: 2rem;
    }

    &__descripcion {
        color: v.$color2;
    }

    &__agregar {
        width: 100%;
        text-align: center;
        background-color: v.$color1;
        padding: 1rem 0;
        color: v.$color4;
        font-weight:600;
    }

    &__imagen{
        display: flex;
        height: 18rem;
        object-fit: cover;
        img {
            flex: 1;
        }
    }
    &--oferta {
        border: .25rem solid v.$color1;
        position: relative;

        &::before {
            position: absolute;
            content: 'POPULAR';
            color: #FFF;
            text-align: center;
            display: block;
            width: 40%;
            padding: 1rem 0;
            font-weight: 600;
            background-color: v.$color1;
            top: -1.8rem;
            // left: 50%;
            transform: translateX(-4rem) rotate(-25deg) translateY(2.2rem);
            border-radius: .5rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}