// Fuente
$fuente: 'Montserrat', sans-serif;


// Media querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1300px;


// Colores
$color_heading          : #4E5150;
$color_heading2         : #333;
$color_texto            : #828282;
$color_paragraph        : #4F4F4F;
$orange                 : #F2994A;
$color_back             : #F2F2F2;
$blanco                 : #FFFFFF;