@use 'base/variables' as v;

.hamburger {
    padding: 0;
    &.is-active {
        .hamburger-inner {
            background-color: v.$color4;
            &::after,
            &::before {
                background-color: v.$color4;
            }
        }
    }
    &-inner {
        background-color: v.$color4;
        &::after,
        &::before {
            background-color: v.$color4;
        }
    }
}

