// Fuente
$fuente: 'Montserrat', sans-serif;


// Media querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;


// Colores
$color_principal    : #4E5150;
$color_secundario   : #A9A9A9;
$color_secundario2  : #BDBDBD;
$color_back         : #E5E5E5;