* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.imagen-carrusel {
    max-height: 46rem;
}

@media (max-width: 768px){
    .imagen-carrusel {
        max-height: 20rem;
    }
}

.accion {
    cursor: pointer;
}