// Fuentes de la Pagina
$fuente-principal : 'Montserrat', sans-serif;
$fuente-secundaria: 'Lora', serif;
$fuente-secundaria2: 'Crimson Pro', serif;

// Colores
$color-back : #181719;
$blanco     : #FFF;
$gray       : #828282;
// Media Querys
$telefono   : 480px;
$tablet     : 768px;
$desktop    : 1024px;

// Font weight
$w-400 : 400;
$w-500 : 500;
$w-700 : 700;