@use 'base/mixins' as m;
@use 'base/variables' as v;

.main {
    &__services {
        @include m.desktop {
            display: flex;
            gap: 3.2rem;
        }
    }

    &__title {
        margin-bottom: 6rem;
        font-weight: 500;
        max-width: 34.6rem;
        @include m.tablet {
            font-size: 3.6rem;
        }
    }

    &__services {
        margin-bottom: 4.8rem;
    }
}

.service {
    padding: 4rem 3.6rem;
    margin-bottom: 4rem;
    border-radius: 2.4rem;

    @include m.tablet {
        margin-bottom: 0;
        padding: 6rem 4rem;
    }

    &__img {
        margin: 0;
        display: inline-block;
        border-radius: 1.6rem;
        span {
            padding: 1.5rem;
        }

        &--red {
            background-color: v.$red;
        }

        &--green {
            background-color: v.$green;
        }

        &--blue {
            background-color: v.$back-button;
        }
    }

    &__title {
        font-size: 2.4rem;

    }

    &__button {
        background-color: #E0E0E0;
        display: inline-block;
        padding: 1rem  1.2rem;
        color: v.$gray;
        border-radius: 1.2rem;

        &--blue {
            background-color: v.$back-button;
            color: #FFF;
        }
    }

    &--shadow {
        box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.10);
    }

    &__text {
        margin-bottom: 2.4rem;
    }
}