<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

    <section class="container mt-5">
        <h1>Hola esta en una pagina hecha con controller</h1>
        <p th:text="${saludo}"></p>
        <p th:text="${hola2}"></p>
    
        <p>Nombre: <span class="text-primary" th:text="${individuo.nombre}"></span></p>
        <p>Apellido: <span class="text-primary" th:text="${individuo.apellido}"></span></p>
        <p>Telefono: <span class="text-primary" th:text="${individuo.telefono}"></span></p>
        <p>Correo: <span class="text-primary" th:text="${individuo.correo}"></span></p>
        <p>Edad: <span class="text-primary" th:text="${individuo.edad}"></span></p>

        <div  class="table-responsive" th:if="${individuos != null and !individuos.empty}">
            <table class="table table-striped table-hover table-striped-columns">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="individuo: ${individuos}">
                        <td th:text="${individuo.nombre}"></td>
                        <td th:text="${individuo.apellido}"></td>
                        <td th:text="${individuo.edad}"></td>
                        <td th:text="${individuo.correo}"></td>
                        <td th:text="${individuo.telefono}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${individuos == null or individuos.empty}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="text-center fs-5" colspan="5"> La tabla no tiene informacion</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>