:root {
    --primary1: hsl(171, 66%, 44%);
    --primary2: hsl(233, 100%, 69%);
    --neutral1: hsl(210, 10%, 33%);
    --neutral2: hsl(201, 11%, 66%);
    --font :  'Bai Jamjuree', sans-serif;
    --w400 :  400;
    --w600 :  600;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.8rem;
    width: 100%;
    min-height: 100vh;
    font-family: var(--font);
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

h1,h2,h3 {
    margin: 0;
}


h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p{
    line-height: 1.6;
}

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width:1024px ){
    .contenedor {
        width: 80%;
    }
}

/* Header */
.header {
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px ){
    .header {
        background-image: url(../images/bg-header-desktop.png);
    }
}

.header__container {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.header__text {
    max-width: 60rem;
}

.header__title {
    font-size: 3.2rem;
}

@media (min-width:768px ){
    .header__title {
        font-size: 3.8rem;
    }
}

.header__paragraph {
    color: var(--neutral2);
}

.header__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width:768px ){
    .header__links {
        flex-direction: row;
    }
}

.header__links a {
    color: white;
    width: 100%;
    padding: 1.4rem  6rem;
    border-radius: 4rem;
    
}

@media (min-width:768px ){
    .header__links a {
        padding: 1.4rem 0;
        width: 25rem;
    }
}

.link-ios {
    background-color: var(--primary1);
    box-shadow: 1px 1px 2px 1px hsl(171, 76%, 23%);
}

.link-mac {
    background-color: var(--primary2);
    box-shadow: 1px 1px 2px 1px hsl(233, 63%, 26%);
}


/* main */

/* Texto */
.snipet {
    max-width: 60rem;
    text-align: center;
}

.snipet p{
    color: var(--neutral2);
}


/* Grid con imagen pegada al borde */
.gridmain {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30rem auto;
    background-image: url(../images/image-computer.png);
    background-repeat: no-repeat;
    background-size: 30rem auto;
    background-position: center 8rem;
}

@media (min-width:1024px ){
    .gridmain {
        padding: 5rem 0;
        height: 60rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        background-image: url(../images/image-computer.png);
        background-size: 70rem;
        background-position: -20rem center;
        align-items: center;
        column-gap: 4rem;
    }
}

@media (min-width:1180px ){
    .gridmain {
        height: 70rem;
        background-size: 80rem;
    }
}

@media (min-width:1300px ){
    .gridmain {
        height: 80rem;
        background-size: 90rem;
    }
}

@media (min-width:1450px ){
    .gridmain {
        height: 90rem;
        background-size: 100rem;
    }
}



@media (min-width:1600px ){
    .gridmain {
        height: 95rem;
        background-size: 110rem;
    }
}

@media (min-width:1800px ){
    .gridmain {
        height: 100rem;
        background-size: 120rem;
    }
}

.gridmain__cards {
    grid-row: 2/3;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width:1024px ){
    .gridmain__cards {
        text-align: left;
        max-width: 40rem;
        grid-column: 2/3;
        grid-area: 1/2;
        display: flex;
        width: 100%;
        gap: 1rem;
    }
}

@media (min-width:1024px ){
    .gridmain__cards {
        gap: 2rem;
    }
}

@media (min-width:1450px ){
    .gridmain__cards {
        gap: 2.8rem;
    }
}

@media (min-width:1600px ){
    .gridmain__cards {
        gap: 3.2rem;
    }
}


.card__title {
    font-size: 2.4rem;
    margin: 1rem 0;
}

.card__paragraph {
    color: var(--neutral2);
}

/* acces */

.acces {
    text-align: center;
}

.acces__title {
    font-size: 2.8rem;
}

.acces__paragraph {
    color: var(--neutral2);
}

.acces__picture {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
}

.acces__picture img {
    width: 100%;
    max-width: 90rem;
}

/* supercarge */
.supercarge {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.supercarge__title{
    font-size: 2.8rem;
}

.supercarge__principal {
    font-size: 2.4rem;
}

.supercarge__picture {
    display: flex;
    justify-content: center;
}

.supercarge__grid {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 6rem;
}

.supercarge__legend,
.supercarge__paragraph {
    color: var(--neutral2);
}

@media (min-width:768px ){
    .supercarge__grid {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: baseline;
    }
}

/* logos */
.logos {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

@media (min-width:768px ){
    .logos {
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
}

/* solucion del header */

.header__container--main {
    padding: 15rem 0;
}

/* footer */

.footer {
    background-color: hsl(206, 13%, 89%);
    padding: 5rem 0;
}

.footer__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

@media (min-width:768px ){
    .footer__contenedor {
        display: grid;
        grid-template-columns: repeat(12,1fr);
    }
}

.footer__img {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}

.footer__img img {
    width: 5rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

@media (min-width:768px ){
    .footer__links {
        grid-column: 3/9;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
}

.footer__iconos {
    display: flex;
    gap: 4rem;
}

@media (min-width:768px ){
    .footer__iconos {
        grid-column: 9/13;
        display: flex;
        justify-content: center;
    }
}